@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-abbey-900;
}

.container {
  @apply bg-abbey-500 sm:p-10 lg:p-20 rounded-lg shadow-lg text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl;
}

.button {
  @apply p-2.5 ml-4 bg-abbey-500 rounded-lg shadow-lg hover:scale-105 hover:shadow-2xl text-abbey-50;
}

.input-text {
  @apply p-2 border border-gray-300 rounded-lg;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
